html{
font-family: Tahoma;
font-size: 11pt;
}
th{
    font-size: 13pt;
}
td{
    padding: 7px;
}
table{
    border-collapse: collapse;
}
input{
    width: 270px;
    padding: 5px;
    border: 2px dotted #7FFFD4;
    background: #7FFFD4;
}
button{
    padding: #7FFF00;
    border: 1px solid #F0FFFF;
    background: #F0FFFF;
}